*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-clr);
}

body{
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  height: 100vh;
}

.description-container img{
  display: none;
}

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.sub-title{
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  text-align: center;
  padding-top: 4rem;
}

.title{
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  text-align: center;
  padding-top: 1.75rem;
}

.time{
  display: flex;
  align-items: center;
}

.rating p{
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}

.time i{
  font-size: 1.125rem;
  padding-right: 5px;
}

.rating{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bxs-star{
  color: var(--yellow);
}

.bx-star{
  opacity: 70%;
}

.description{
  background-color: var(--dark-blue);
  border-radius: 20px 20px 0 0;
  padding: 1.5rem 1rem;
}

.btn-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.description p{
  font-size: var(--fs-300);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 990px){
  .description-container img{
    display: block;
    max-width: 184px;
    border-radius: 20px;
  }

  hr{
    display: none;
  }

  .description{
    background: none;
  }

  .hero-container{
    justify-content: flex-start;
  }

  .description-container{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    gap: 3rem;
  }

  .description{
    display: flex;
    flex-direction: column-reverse;
  }

  .box-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

  .btn-container{
    justify-content: flex-start;
    gap: 1rem;
  }

  .description p{
    font-size: var(--fs-400);
  }
  

  .rating{
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    margin-bottom: 2rem;
  }
  
  .rating p{
    font-size: var(--fs-500);
  }

  .bx, .time i{
    font-size: 2rem;
  }
}