::placeholder{
  color: rgba(255, 255, 255, 0.4);
}

.search-bar{
  width: 100%;
  border: none;
  outline: none;
  padding-right: 3rem;
  width: 100%;
  border: none;
  padding:.5rem 1rem .5rem .5rem;
  background: none;

  color: var(--header-logo-clr);
  font-family: var(--ff-header);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
}

.container{
  max-width: 414px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px){
  .container{
    max-width: 900px;
  }

  .search-bar{
    padding:1rem;
  }
  
}