body{
  min-height: 100vh;
  background-color: var(--dark-blue);
}

.bg{
  /* background-color: var(--red); */
  min-height: 100vh;
}

.img-solo{
  display: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
}

header img:nth-child(1){
  max-width: 30px;
  color: white;
}

header img:nth-child(2){
  max-width: 60px;
}

header img:nth-child(3){
  max-width: 24px;
}

.img-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

a img{
  background-color: var(--red);
  border: 1px solid white;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0 100%, 0 15%);

  max-width: 132.86px;
}

.img-group p{
  color: var(--text-color);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-300);
  text-align: center;
}
